// ---------------------------------------------------------------------------------------------------------------
// Cтилізація блоку прикладу анімації
// Реалізація цієї анімації передбачає підключення модулю elementWatcher.js
// ---------------------------------------------------------------------------------------------------------------

.anim-block {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    &__content {
        background-color: lightgray;
        padding: 20px;
        border-radius: 20px;
        width: 250px;
    }

}

// ---------------------------------------------------------------------------------------------------------------
// Cтилізація усіх анімацій теми
// ---------------------------------------------------------------------------------------------------------------

/* Загальний стиль для приховання горизонтального скролу */


// ---------------------------------------------------------------------------------------------------------------
// fadeIn
// ---------------------------------------------------------------------------------------------------------------
.fadeIn {
    opacity: 0;
    transition-duration: $transitionDuration;
}

.fadeIn._watcher--view {
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
// slideInLeft
// ---------------------------------------------------------------------------------------------------------------
.slideInLeft {
    opacity: 0;
    transform: translateX(-30%);
    transition-duration: $transitionDuration;
}

.slideInLeft._watcher--view {
    transform: translateX(0%);
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
// slideInRight
// ---------------------------------------------------------------------------------------------------------------
.slideInRight {
    opacity: 0;
    transform: translateX(30%);
    transition-duration: $transitionDuration;
}

.slideInRight._watcher--view {
    transform: translateX(0%);
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// slideInUp
// ---------------------------------------------------------------------------------------------------------------
.slideInUp {
    opacity: 0;
    transform: translateY(30%);
    transition-duration: $transitionDuration;
}

.slideInUp._watcher--view {
    transform: translateY(0%);
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// slideInDown
// ---------------------------------------------------------------------------------------------------------------
.slideInDown {
    opacity: 0;
    transform: translateY(-30%);
    transition-duration: $transitionDuration;
}

.slideInDown._watcher--view {
    transform: translateY(0%);
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// zoomIn
// ---------------------------------------------------------------------------------------------------------------
.zoomIn {
    transform: scale(0);
    opacity: 0;
    transition-duration: $transitionDuration;
}

.zoomIn._watcher--view {
    transform: scale(1);
    opacity: 1;
}
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// rotateIn
// ---------------------------------------------------------------------------------------------------------------
.rotateIn {
    transform: rotate(180deg);
    transition-duration: $transitionDuration;
}

.rotateIn._watcher--view {
    transform: rotate(0deg);

}
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// pulse
// ---------------------------------------------------------------------------------------------------------------
.pulse {
    transform: scale(1);
    position: relative;
}
  
.pulse._watcher--view {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
// ---------------------------------------------------------------------------------------------------------------

// Анімація левітації

@keyframes levitate {
    0% {
      transform: rotate(0deg) translateX(2px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(2px) rotate(-360deg);
    }
  }
  
  .levitate {
    display: inline-block;
    animation: levitate 2s linear infinite;
    position: relative;
  }