// ---------------------------------------------------------------------------------------------------------------
// БАЗОВА ПАЛІТРА КОЛЬОРІВ ДЛЯ САЙТУ -- необхідно підключати, якщо є бажання виносити палітру кольорів окремо.
// ---------------------------------------------------------------------------------------------------------------

$palleteDeepDark: #201E43;
$palleteDark: #134B70;
$palleteLight: #508C9B;
$palleteWhite: #EEEEEE;

// ---------------------------------------------------------------------------------------------------------------
