//--------------------------Налаштування теми для проектів--------------------------
// Перед початком проекту, потрібно розібрати макет на: кольори, шрифти, розміри, стилізацію, геометрію макету, і внести потрібні данні у змінні.
// Звичайно тему не підготуєш під усі випадки, проте можна підготувати те що необхідне для більшості сайтів.
// Розробив - andreyk1n.
// ---------------------------------------------------------------------------------------------------------------

// hours:min:sec
// 04:11:00


// ---------------------------------------------------------------------------------------------------------------
//---ШРИФТИ---
// Основне сімейство шрифтів проекту
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
$fontFamily: "Inter", sans-serif;

// Початковий розмір шрифтів
$fontSize: 16px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Основний фоновий колір для <body>
$bgColor: white;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Тривалість переходу (transition-duration) <- рекомендую використовувати якусь одну для всього проекту
$transitionDuration: .6s;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---КОЛЬОРИ---

$orange: #FB8F1D;
// Стандартний колір шрифтів
$fontColor: #7D7987;

//---Кольори для посиланнь---
// Стандартний колір посиланнь
$linkColor: blue;

// Колір при наведені на посилання
$linkHoverColor: magenta;

// Активний колір при кліку
$activeColor: green;

// Базова тінь
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// ---ВНУТРІШНІ ВІДСТУПИ----
// Внутрішній малий відступ
$paddingSmall: 5px;

// Внутрішній середній відступ
$paddingMedium: 15px;

// Внутрішній великий відступ
$paddingLarge: 30px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---РОЗМІР І ВАГА ЗАГАВОЛОВКІВ---
// Розмір для тегу h1
$h1FontSize: 40px;

// Розмір для тегу h2
$h2FontSize: 28px;

// Розмір для тегу h3
$h3FontSize: 20px;

// Стандартний font-weight
$mainFontWeight: 400;

// Вага шрифта для h1
$h1FontWeight: 900;

// Вага шрифта для h2
$h2FontWeight: 800;

// Вага шрифта для h3
$h3FontWeight: 700;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---Налаштування стилів кнопки з класом .button---
// Фоновий колір кнопки
$buttonBgColor: rgb(80, 80, 117);

// Колір шрифта на кнопці
$buttonFontColor: white;

// Внутрішні відступи у кнопці --- краще застосовувати запис у скороченому форматі
$buttonPaddings: 5px 20px;

// Заокруглення кнопки
$buttonBorderRadius: 10px;

// Колір при наведенні на кнопку
$buttonHover: lightBlue;

// Колір при кліку на кнопку
$buttonActive: rgb(16, 77, 97);
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---Максимальна довжина обмежуючого контейнера---
// Обмежуючий контейнер - це контейнер з класом .__container - призначений для рівної геометрії сайту
$maxWidthContainer: 1220px;

// Стандартні паддінги (внутрішні відступи) в контейнері
$paddingContainer: 15px;
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---АДАПТИВ---
// Мобільний мікро брекпоїнт 320рх
$mobileMicro: 320px;

// Мобільний малий брекпоїнт менше 478рх
$mobileSmall: 478px;

// Мобільний середній брекпоїнт менше 576рх
$mobileMedium: 576px;

// Мобільний великий розмір менше 768рх
$mobileLarge: 768px;

// Планшет розмір до 992рх
$tablet: 992px;

// Декстоп малий до 1200рх
$desktopSmall: 1200px;

// Декстоп середній до 1440рх
$desktopMedium: 1440px;

// Декстоп великий від 1440рх
$desktopBig: 1400px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//--------------------------Використання базових стилів із попередніх налаштуваннь--------------------------

// Онулення стилів
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
}

body {
    overflow-x: hidden;
    background-color: $bgColor;
    color: $fontColor;
    font-family: $fontFamily;
    font-weight: $mainFontWeight;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $fontColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: #000;
    font-weight: bold;
}

a:active {
    color: #000;
    font-weight: bold;
}

// Застосування стилів для кнопкки з класом .button
// .button {
//     width: fit-content;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: $buttonBgColor;
//     transition-duration: $transitionDuration;
//     color: $buttonFontColor;
//     padding: $buttonPaddings;
//     border-radius: $buttonBorderRadius;
//     cursor: pointer;
//     border: 0;
//     outline: 0;
// }

// .button:hover {
//     background-color: $buttonHover;
// }

// .button:active {
//     background-color: $buttonActive;
// }


// Розміра для основних тайтлів h1-h3, адаптив шрифта розрахуовується формулою (розмір шрифта - (розмір шрифта / n); n - можна налаштовувати під себе, як вам заманеться, формулу замінювати теж.

h1 {
    @include adaptiveValue('font-size', 48px, 28px);
}

h2 {
    @include adaptiveValue('font-size', 36px, 20px);
}

h3 {
    @include adaptiveValue('font-size', 30px, 18px);
}


// Базові стилі для контейнера сторінки
html {
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

// Загальні стилі для списків
ol {
    padding-left: 20px;
    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

p {
    line-height: 30px;
}
// ---------------------------------------------------------------------------------------------------------------
// Розробив - andreyk1n.
